:root {
    --globla-nav-color : #e614ff;
    --globla-dark-pink-color : #ff1481;
    --global-dark-blue-color : #112e41;
    --global-dark-blue-bg-color : #162b45;
    --global-text-dark-gray-color : #888888;
    --global-text-white-gray: #abb2ba;
    --global-text-medium-gray : #646464;
    --global-white-color : #fff;
    --global-black-color : #000;
    --global-roboto-font : 'Roboto', sans-serif;
    --global-oswald-font : 'Oswald', sans-serif;
    --global-transition : all 0.3s linear 0s;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    background: linear-gradient(var(--global-dark-blue-color),var(--globla-dark-pink-color));
}
body::-webkit-scrollbar-thumb {
    background-color: var(--globla-dark-pink-color);
    border: 1px solid var(--global-white-color);
    border-radius: 4px;
}

/* Start Preloader */
#preloader {
    width: 100%;
    height: 100vh;
    background-color: var(--global-dark-blue-bg-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.pyramid-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) rotateX(-20deg);
}
  
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
  /* you can choose any gradient or color you want */
    /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
  }
/* End preloader */

/* Start Header Section */

.navbar {
    background-color: transparent;
}
.navbar.active {
    width: 100%;
    background-color: var(--globla-nav-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    animation: navani 0.4s linear 0s 1 forwards;
}
@keyframes navani{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar-toggler {
    border: none;
    border-radius: 0;
}
.navbar-toggler:hover div {
    background-color: var(--global-black-color);
}
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}
.navbar-toggler div {
    width: 30px;
    height: 5px;
    margin: 5px 0px;
    background-color: var(--global-dark-blue-bg-color);
    border-radius: 5px;

    transition: var(--global-transition);
}
.navbar-nav .nav-item .nav-link{
    font-size: 20px;
    font-family: var(--global-roboto-font);
    transition: var(--global-transition);
}
.navbar-nav .nav-item .nav-link:hover {
    color: var(--globla-dark-pink-color);
    
}
.navbar-nav .nav-item .nav-link.active {
    color: var(--globla-dark-pink-color);
}
@media(max-width:992px){
    .navbar-nav {
        margin: 0 auto;
        width: 80%;
    }
}
/* Start Banner */
.banner_container{
    position: relative;
}
.banner_container::before{
    content: "";
    width: 250px;
    height: 500px;
    background-image: url("../assets/imgs/banners/banner_overlay_1.png.webp");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.banner_content_container,.banner_content,.banner_img {
    position: relative;
}
.banner_content h2 {
    color: var(--global-dark-blue-bg-color);
    font-size: 55px;
    font-weight: 900;

}
.banner_content h4 {
    color: var(--global-dark-blue-bg-color);
    font-size: 40px;
    font-weight: 900;
}
.banner_content h3 {
    margin-bottom: 30px;
    color: var(--global-dark-blue-bg-color);
    font-size: 45px;
    font-weight: 400;
}
 .icon_ani {
    position: absolute;
    left: 0;
}
.icon_ani1 {
    top: 0px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: iconani1 10s linear 0s infinite forwards;
}
.icon_ani2 {
    bottom: 0;
    animation: iconani2 5s linear 0s infinite forwards;

}
.icon_ani3 {
    left: 50px;
    top: 80px;
    width: 50px;
} 
@keyframes iconani1 {
    0%{
        left: 0;
        top: 0;
        transform: scale(1);
    }
    25% {
        left: 30px;
        top: 30px;
        
    }
    50% {
        left: 30px;
        top: 0;
        transform: scale(1.3);

    }
    75% {
        left: 0;
        top: 30px;
    }
    100%{
        left: 0;
        top: 0;
        transform: scale(1);

    }
}
@keyframes iconani2 {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.8);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
/* End Banner */

/* Start Global Btn  */
.global_btn {
    display: inline-block;
    padding: 15px 30px;
    color: var(--global-white-color);
    background-color: var(--globla-dark-pink-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--global-roboto-font);
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 1px 1px 10px var(--global-text-white-gray);
    transition: var(--global-transition);
}
.global_btn:hover {
    box-shadow: 1px 1px 20px var(--global-text-white-gray);
}
/* End Global Btn */
/* End Header Section */

/* Start Title  */

.title_container h5{
    color: var(--globla-dark-pink-color);
    font-size: 18px;
}
.title_container h2 {
    color: var(--global-dark-blue-bg-color);
    font-size: 40px;
    font-weight: 800;
}

/* End Title */

/* Start Feature Section */
.feature_item_container {
    background-color: var(--global-dark-blue-bg-color);
}
.feature_item {
    /* filter: blur(1px); */
    /* backdrop-filter: 10px; */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.144);
    height: 370px;
    border-radius: 7px;
    transition: var(--global-transition);
}
.feature_item span {
    width: 70px;
    height: 70px;
    color: var(--global-white-color);
    background-color: rgba(255, 255, 255, 0.473);
    place-items: center;
    font-size: 30px;
    transition: var(--global-transition);

}
.feature_item h2 {
    color: var(--global-white-color);
    font-size: 28px;
    font-family: var(--global-oswald-font);
    font-weight: 900;
    transition: var(--global-transition);

}
.feature_item p {
    color: var(--global-text-white-gray);
    font-size: 18px;
    font-family: var(--global-roboto-font);

    line-height: 1.5;
    transition: var(--global-transition);

}
.feature_item:hover {
    background-color: var(--global-white-color);
}
.feature_item:hover span {
    background-color: var(--globla-dark-pink-color);
}
.feature_item:hover h2 {
    color: var(--global-dark-blue-bg-color);
}
.feature_item:hover p {
    color : var(--global-text-medium-gray)
}
/* End Feature Section */

/* Start About Us Section */
.aboutus_img_container {
    height: 90vh;
    background-image: url("../assets/imgs/backgrounds/about_overlay.png.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.aboutus_img_1,.aboutus_img_2{
    width: 70%;
    height: 80%;
    object-fit: cover;
    position: absolute;
}
.aboutus_img_1 {
    left: 0;
    bottom: 0;
}
.aboutus_img_2 {
    width: 70%;
    height: 70%;
    right: 0;
    top: 0;
}
@media(max-width:768px){
    .aboutus_img_1 {
        width: 100%;
        height: 100%;
    }
    .aboutus_img_2 {
        display: none;
    }
}
.aboutus_content_container {
    padding: 0px 250px 0px 50px;
}
@media(max-width : 768px){
    .aboutus_content_container {
        padding:50px;
    }
}
.side_title.title_container h2 {
    font-size: 30px;
}
.aboutus_content_container .about_intro_para {
    color: #112e41;
    font-size: 20px;
    font-family: var(--global-oswald-font);
    line-height: 1.5;
}
.aboutus_content_container .about_para {
    color: var(--global-text-medium-gray);
    font-size: 18px;
    font-family: var(--global-text-medium-gray);
    line-height: 1.5;
}
/* End About Us Section */

/* Start Recent Work Section */
.recent_work_content_continer p {
    color: var(--global-text-medium-gray);
    font-size: 20px;
    font-family: var(--global-text-medium-gray);
    line-height: 1.5;
}
/* <!-- start mini arrow link btn --> */
.mini_arrow_btn {
    color: var(--global-dark-blue-bg-color);
    font-size: 20px;
    font-family: var(--global-roboto-font);
    transition: var(--global-transition);
}
.mini_arrow_btn span {
    position: relative;
}
.mini_arrow_btn span::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #112e41;
    position: absolute;
    left: 130%;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--global-transition);
}
.mini_arrow_btn i {
    display: inline-block;
    margin-left: 50px;
}
.mini_arrow_btn:hover {
    color: var(--globla-dark-pink-color);
}
.mini_arrow_btn:hover span::after {
    background-color: var(--globla-dark-pink-color);
}
/* <!-- end mini arrow link btn --> */
.recent_work_img_container {
    height: 100%;
    position: relative;
}
.recent_work_img_container img {
    height: 100%;
    object-fit: cover;
}
.recent_work_content_continer.left {
    padding: 0px 100px;
}
@media(max-width:768px){
    .recent_work_content_continer.left {
        padding: 0px 20px;
    }
}
/* End Recent Work Section */

/* Start Happy Client Section */
.happy_client {
    background-color: var(--global-dark-blue-bg-color);
}
.happy_client_items {
    padding: 50px 10px;
}
.happy_client_icon {
    width: 70px;
}
.happy_client_icon img {
    width: 100%;
}
.counter {
    color: var(--global-white-color);
}
.counter span {
    padding: 20px 20px 20px 0px;
    /* background-color: #2BDEAC; */
    font-size: 70px;
    font-weight: 900;
    font-family: var(--global-roboto-font);
}
.counter div {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--global-oswald-font);
    line-height: 1;
}
/* End Happy Client Section */

/* Start Our Team Section */
.youtube_video_container {
    width: 100%;
    height: 100%;
    /* background-color: #2F2585; */
    background-image: url("../assets/imgs/backgrounds/intro_bg.png.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media(max-width : 992px){
    .youtube_video_container{
        height: 500px;
    }
}
.youtube_video_container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    position: absolute;
    left: 0;
    top: 0;
}
.youtube_open {
    padding: 20px 30px;
    color: var(--global-white-color);
    font-size: 30px;
    background-color: var(--globla-nav-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}
.youtube_open::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--globla-nav-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transform: scale(1.3);

    animation: btnani 3s linear 0s infinite forwards;
}
@keyframes btnani {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
#our_team_carousel {
    position: relative;
}
.our_team_content_container {
    padding: 100px 150px 50px 100px;
}
@media(max-width:992px){
    .our_team_content_container {
        padding: 70px 20px;
    }
}
.our_team_content p {
    color: var(--global-text-medium-gray);
    font-size: 20px;
    font-family: var(--global-roboto-font);
    font-style: italic;
    font-weight: 300;
    line-height: 2;
}
.client_logo_container {
    width: 150px;
}
.client_position {
    padding-left: 30px;
}
.client_position h3 {
    color: var(--global-dark-blue-color);
    font-size: 25px;
    font-family: var(--global-oswald-font);
}
.client_position h4 {
    color: var(--global-dark-blue-color);
    font-size: 20px;
    font-family: var(--global-roboto-font);
    font-weight: 300;
}
#our_team_carousel .owl-nav {
    font-size: 45px;
    position: absolute;
    left: 250px;
    top: -75px;
}
#our_team_carousel .owl-dots {
    position: absolute;
    left: 0;
    top: -80px;
}
#our_team_carousel .owl-dots span {
    display: inline-block;
    margin: 10px 5px;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

    position: relative;

}
#our_team_carousel .owl-dots button:nth-child(1) span{
    background-image: url("../assets/imgs/avators/client_1.png.webp");
}
#our_team_carousel .owl-dots button:nth-child(2) span{
    background-image: url("../assets/imgs/avators/client_2.png.webp");
}
#our_team_carousel .owl-dots button:nth-child(3) span{
    background-image: url("../assets/imgs/avators/client_3.png.webp");
}
#our_team_carousel .owl-dots span::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff80;

    position: absolute;
    left: 0;
    top: 0;
}
#our_team_carousel .owl-dots button.active span::before {
    background-color: transparent;

}
/* End Our Team Section  */

/* Start Work For Client Section */
.work_for_client_container {
    background-color: var(--global-dark-blue-bg-color);
}
.work_client_content_container {
    border: 1px solid var(--global-text-white-gray);
}
.name_position h3 {
    color: var(--global-white-color);
    font-size: 30px;
    font-family: var(--global-oswald-font);
}
.name_position p ,.client_content_link a {
    margin: 0px 10px;
    color: var(--global-text-white-gray);
    font-size: 18px;
    font-family: var(--global-roboto-font);
    transition: var(--global-transition);
    /* font-weight: 300; */
}
.client_content_link a:hover {
    color: var(--globla-dark-pink-color);
}
/* End Work For Client Section */

/* Start True Story Section */
.true_story_content_container {
    border: 1px solid var(--global-text-white-gray);
    transition: var(--global-transition);
}
.true_story_content_container:hover {
    box-shadow: 0px 0px 20px #ff148281;
}
.true_story_content .story_header {
    color: var(--global-text-medium-gray);
    font-size: 20px;
    font-family: var(--global-roboto-font);

}
.story_header .story_title {
    transition: var(--global-transition);
    cursor: pointer;
}
.story_header .story_title:hover {
    color: var(--globla-dark-pink-color);
}
.story_body a{
    color: var(--global-dark-blue-bg-color);
    font-size: 25px;
    font-family: var(--global-oswald-font);
    font-weight: 700;
}
.story_footer span {
    color: var(--global-text-medium-gray);
    font-size: 18px;
    font-family: var(--global-roboto-font);
}
.story_footer span i {
    color: var(--globla-dark-pink-color);
}
/* End True Story Section */

/* Start Footer Section */
.footer_section {
    background-color: var(--global-dark-blue-bg-color);
}
.footer_header h3 {
    color: var(--global-white-color);
    font-size: 35px;
    font-family: var(--global-oswald-font);
}
.footer_body p{
    color: var(--global-text-dark-gray-color);
    font-size: 20px;
    font-family: var(--global-roboto-font);
    line-height: 1.5;
}
.desc_form form input {
    width: 75%;
    padding: 15px ;
    font-size: 18px;
    font-family: var(--global-roboto-font);
    border: none;
    background-color: transparent;
    caret-color: var(--global-white-color);
}
.desc_form {
    padding: 10px;
    border: 1px solid var(--global-text-medium-gray);

}
.desc_form form input:focus {
    border: none;
    outline: none;
}
.desc_form form input::placeholder {
    color: var(--global-text-white-gray);
}
.desc_form form button {
    width: 15%;
    height: 50px;
    color: var(--global-white-color);
    border: none;
    background-color: var(--globla-dark-pink-color);
}
.footer_contact_link a{
    margin: 0px 10px;
    color: var(--global-text-white-gray);
    font-size: 20px;
    transition: var(--global-transition);
}
.footer_contact_link a:hover {
    color: var(--globla-dark-pink-color);
}
.instagram_link_container {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.insta_img_container {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
}
.insta_img_container::before {
    content: "\f16d";
    width: 100%;
    height: 100%;
    color: var(--global-white-color);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Font Awesome 5 Brands";
    display: grid;
    place-items: center;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    transition: var(--global-transition);
}
.insta_img_container:hover::before{
    transform: translateY(0);
}
/* End Footer Section */

/* ------------------------- */
/* --------about us -------- */
/* ------------------------- */
/* Start side banner section */
.side_banner_container {
    background-image: linear-gradient(#162b45b9,#162b45b9),url("./../assets/imgs/banners/breadcrumb.png.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.side_banner_content_container {
    padding: 230px 0px;

    display: grid;
    place-items: center;
}
.side_banner_content h1{
    color: var(--global-white-color);
    font-size: 45px;
    font-family: var(--global-oswald-font);
}
.side_banner_content span {
    color: var(--global-white-color);
    font-size: 20px;
    font-family: var(--global-roboto-font);
}
.side_banner_content span a {
    color: inherit;
    text-decoration: none;
}
/* End side banner section */

/* ----------------------------------- */
/* -------------blog page ------------ */
/* ----------------------------------- */
/* Start Single Blog Section */
.blog_img_container {
    position: relative;
}
.blog_date {
    padding: 30px 40px;
    color: var(--global-white-color);
    background-color: var(--globla-dark-pink-color);
    border-radius: 10px;
    position: absolute;
    left: 20px;
    bottom: -20px;
}
.blog_date div h3 {
    line-height: 0.8;
    font-size: 50px;
}
.blog_date div span {
    font-size: 30px;
    line-height: 0.8;
}
.blog_content_container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
}
.blog_content_container h3 {
    margin-bottom: 20px;
    color: var(--global-dark-blue-bg-color);
    font-size: 35px;
    font-family: var(--global-oswald-font);
    cursor: pointer;

}
.blog_content_container p {
    color: var(--global-text-dark-gray-color);
    font-size: 18px;
    font-family: var(--global-roboto-font);
}
.blog_content_container .blog_info {
    color: var(--global-text-dark-gray-color);
    font-size: 18px;
    font-family: var(--global-roboto-font);
}
.blog_right_content {
    background-color: #fbf9ff;
}
.search_key_word .form-group {
    position: relative;
}
.search_key_word .form-group input {
    padding: 15px 20px;
}
.search_key_word .form-group input:focus {
    box-shadow: none;
}
.search_key_word .form-group span{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.search_key_word button {
    padding: 15px ;
    color: var(--global-white-color) !important;
    background-color: var(--globla-dark-pink-color) !important;
    font-weight: 600;
}

.blog_right_header h3 {
    color: var(--global-dark-blue-bg-color);
    font-size: 30px;
    font-family: var(--global-oswald-font);
}
.blog_right_body .blog_right_body_content a {
    color: var(--global-text-medium-gray);
    font-size: 18px;
    font-family: var(--global-roboto-font);
}
.blog_recent_post_img {
    width: 100px;
    height: 100px;
}
.blog_insta_img_container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
/*End Single Blog Section */


/* ---------------------------------- */
/* ----------Contact Page------------ */
/* ---------------------------------- */
/* Start Contact Section */
.contact_form_title h3 {
    color: var(--global-dark-blue-bg-color);
    font-size: 35px;
    font-family: var(--global-oswald-font);
} 
.contact_form_body .form-group .form-control {
    padding: 15px;
    font-size: 18px;
    font-family: var(--global-roboto-font);
}
.contact_form_body .form-group .form-control::placeholder {
    font-weight: 300;
}
.contact_form_body .form-group .form-control:focus {
    box-shadow: none;
}
.contact_form_body button {
    padding: 15px 25px;
    color: var(--global-white-color) !important;
    background-color: var(--globla-dark-pink-color) !important;
    font-weight: 500;
}
.contact_address span.d-grid {
    color: var(--global-text-medium-gray);
    width: 70px;
    height: 70px;
    place-items: center;
    font-size: 25px;
}

.contact_add_group p {
    color: var(--global-dark-blue-bg-color);
    font-size: 18px;
    font-family: var(--global-oswald-font);
    font-weight: 600;
    line-height: 0.8;
}
.contact_add_group .address {
    color: var(--global-text-medium-gray);
    font-size: 18px;
    font-family: var(--global-roboto-font);
    line-height: 0.8;

}
/* End Contact Section */